In [123]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [124]:
data=pd.read_csv("titanic.csv")
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [102]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['Sex']=le.fit_transform(data['Sex'])
X = data[['PassengerId','Pclass','Sex','Age']]
Y=data['Survived']
X=X.dropna()
Y=Y.loc[X.index]
X.head(10)

    PassengerId  Pclass  Sex   Age
0             1       3    1  22.0
1             2       1    0  38.0
2             3       3    0  26.0
3             4       1    0  35.0
4             5       3    1  35.0
6             7       1    1  54.0
7             8       3    1   2.0
8             9       3    0  27.0
9            10       2    0  14.0
10           11       3    0   4.0

In [103]:
Y.head(10)

0     0
1     1
2     1
3     1
4     0
6     0
7     0
8     1
9     1
10    1
Name: Survived, dtype: int64

In [104]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.20,random_state=2)
x_train.shape

(571, 4)

In [105]:
y_train.shape

(571,)

In [106]:
x_test.shape

(143, 4)

In [107]:
from sklearn.linear_model import LogisticRegression
LG=LogisticRegression()
LG.fit(x_train,y_train)

LogisticRegression()

In [108]:
LG.predict(x_test[0:10])

array([0, 1, 0, 0, 1, 0, 1, 0, 0, 0], dtype=int64)

In [109]:
score=LG.score(x_test,y_test)
print(f'model accuracy: {score:.2f}')

model accuracy: 0.84

In [113]:
y_pred=LG.predict(x_test)

In [117]:
print("predictions vs Actual outcomes")
pred_df=pd.DataFrame({
    'PassengerId':x_test['PassengerId'][:10],
    'Pclass':x_test['Pclass'][:10],
    'Sex':x_test['Sex'][:10],
    'Age':x_test['Age'][:10],
    'Predicted survival':y_pred[:10],
    'Actual survival':y_pred[:10]
})
print(pred_df)

predictions vs Actual outcomes
     PassengerId  Pclass  Sex   Age  Predicted survival  Actual survival
471          472       3    1  38.0                   0                0
542          543       3    0  11.0                   1                1
719          720       3    1  33.0                   0                0
137          138       1    1  37.0                   0                0
654          655       3    0  18.0                   1                1
16            17       3    1   2.0                   0                0
576          577       2    0  34.0                   1                1
25            26       3    0  38.0                   0                0
51            52       3    1  21.0                   0                0
818          819       3    1  43.0                   0                0